@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat", Montserrat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: linear-gradient(180deg, #232692 22.92%, #6501E6 47.4%, #6501E6 64.06%, #220A41 87.15%);
  color: #ffff;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

.dsrank-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#sales {
  padding: 40px 10px;
}